* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

hr{
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

hr.gradient {
    height: 1px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(
      90deg,
      rgba(13, 8, 96, 1) 0%,
      rgba(9, 9, 121, 1) 21%,
      rgba(6, 84, 170, 1) 51%,
      rgba(0, 255, 113, 1) 100%
    );
}

body {
    min-height: 100vh;
    background: whitesmoke;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.head {
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 50px;
    background: whitesmoke;
    border-radius: 75px;
    transition: 1s box-shadow;
}

.head:hover{
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
    
}

.head:hover::before, .head:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 150px;
    height: 50px;
    background: pink;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }

.head:hover:after {
    background: yellow;
    animation: 1s counterclockwise infinite;
  }

  @keyframes clockwise {
    0% {
      top: -2px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 2px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 2px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -2px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -2px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -2px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 2px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 2px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -2px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -2px;
      right: 0;    
    }
  }



/* Navigation bar */
.navbar{
    display: flex;
    width: 40%;
    justify-content: space-between;
    
}
.navbar a{
    color: black;
    text-decoration: none;
    position: relative;
}

.navbar a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: black;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navbar a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

/*Main styling */

main{
    min-height: 120vh;
    
}

.main {
  display: flex;
  justify-content: center;
  padding: 100px;
}
.logo1 {
	width:500px;
	height:500px;
	background-size: cover;
  mix-blend-mode: multiply;
	background-image: url(https://img.freepik.com/premium-vector/angry-green-virus-face-cartoon-image-germs-illustration-white-background_47570-113.jpg);
}

.viruspic {
	width:500px;
	height:250px;
	background-size: cover;
  mix-blend-mode: multiply;
	background-image: url(https://images.ctfassets.net/xwxknivhjv1b/2FPp826aM4wggdhHFIARFV/f367943e9f421440e8f32292c3b1300c/Computer_Virus_Hero.svg);
}

.trojanpic {
	width:500px;
	height:250px;
	background-size: cover;
  mix-blend-mode: multiply;
	background-image: url(https://nordvpn.com/wp-content/uploads/blog-social-trojan-1200x628-1.jpg);
}

.wormpic {
	width:400px;
	height:250px;
	background-size: cover;
  mix-blend-mode: multiply;
	background-image: url(https://images.ctfassets.net/yewqr8zk7e5s/6oUpJsCKt3cDGxK6xs5i90/a8225dfea41497102e5d9fa5f11ab53b/Computer_worms.jpg?w=1000&h=667&q=50&fm=webp);
}

.ransompic {
	width:400px;
	height:250px;
	background-size: cover;
  mix-blend-mode: multiply;
	background-image: url(https://www.globalsign.com/application/files/3416/1644/1850/iStock-1022030450.jpg);
}

.header1 {
  background-color: #DBAE58;
  padding: 10px 0;
 
}

.header1 h1 {
  text-align: center;
}


/* Footer */
footer {
    width: 100%;
    position: absolute;
    bottom: -20;
    background: grey;
    color: #fff;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}